# Warm-up exercises

Choose the names you consider more appropriate for naming your variables. My recommendation is you use Snake Case, as it is the convention for variables in Python, and it is how most code is written, so it will be easier for other developers to understand your code.

Assign an integer to a variable and print its output.

In [3]:
a = 1

Assign two integers to two different variables and print its addition and subtraction.

In [4]:
b = 2
c = 3

Assign a string to a variable and print its value.

In [5]:
text = "Hello World"
print(text)

Hello World

Concatenate two strings and print the result.

In [6]:
s1 = "Hello"
s2 = " World"
print(s1 + s2)

Hello World

Assign two floating-point numbers to variables and add them.

In [7]:
d = 1.0
e = 2.0
print(d*e)

2.0

Assign a string (number) to a variable and then convert it to an integer.

In [8]:
a = "6"
b = int(a)
type(b)

int

User enters name, age and favorite color and system shows the message "[name] is [age] years old and likes color [color]".

In [16]:
name = input("Nom: ")
age = int(input("Edat: "))
color = input("Color favorit: ")
print("nom:", name, "edat:", age ,"color:", color)

Nom: Xavi
Edat: 33
Color favorit: Vermell
nom: Xavi edat: 33 color: Vermell

User enters a number and the system prints the square of that number.

In [17]:
a = 2
print(a ** 2)

4

User enters temperature in Celsius and system prints it in Farenheit. For this transformation, the system multiplies the celsius by 1.8 and then adds 32.

In [18]:
temp = float(input("Temperatura Celsis: "))
print("Temperatura en Farenheit: ", (temp * 1.8) + 32)

Temperatura Celsis: 25
Temperatura en Farenheit:  77.0

User enters width and height of a rectangle and system print total area.

In [19]:
width = int(input("Amplada del quadrat: "))
height = int(input("Altura del quadrat: "))
print(width * height)

Amplada del quadrat: 4
Altura del quadrat: 3
12

User enters distance in miles and the system prints it in kilometers (1 mile = 1.60934 km).

In [20]:
distance = float(input("Distancia en milles: "))
print("Distancia en kilometres: ", distance * 1.60934)

Distancia en milles: 2.5
Distancia en kilometres:  4.02335

User enters his/her age and the system prints his/her two possible birth years.

In [24]:
age = int(input("Edat: "))
print("Deus haber nascut l'any ", 2023 - age, "o", 2022 - age)

Edat: 33
Deus haber nascut l'any  1990 o 1989

User enters 3 numbers and system prints the average.

In [26]:
num1 = int(input("Primer número: "))
num2 = int(input("Segon número: "))
num3 = int(input("Tercer número: "))
print("La mitjana de ", num1, ",", num2, "i", num3, "és", (num1 + num2 + num3)/3)

Primer número: 2
Segon número: 2
Tercer número: 2
La mitjana de  2 , 2 i 2 és 2.0

User enters 2 numbers (stored in 2 different variables) and system swaps their values. E.g. if the user enters a = 2 and b = 5, then the system sets a = 5 and b = 2 and prints it.

In [28]:
a = int(input("Valor de a en enter: "))
b = int(input("Valor de b en enter: "))
c = a
a = b
b = c
print("El valor de a és", a, "el valor de b és", b)

Valor de a en enter: 4
Valor de b en enter: 2
El valor de a és 2 el valor de b és 4