# Strings Exercises

Recommendations:

- Try to solve all the exercises without specifically searching for them on the internet.
- If there is a concept you don't know, read it on wikipedia (or similar) without searching for a specific Python solution.

# Basics

User enters his/her name and the system greets them with "Hello, [name]!"

In [1]:
name = input('What is your name? ')
print('Hello, ' + name + '!')

Hello, Isaac!

Convert the string '5' to an integer and vice versa.

In [11]:
int('5'), str(5)

(5, '5')

What happens if we convert the following 5 strings to booleans: '1', '-1', '0', '', '-abc'? Think and try it.

In [13]:
bool('1'), bool('-1'), bool('0'), bool(''), bool('-abc')

(True, True, True, False, True)

Print the following statement: `This "statement" isn't tricky at all.`

In [1]:
print('This "statement" isn\'t tricky at all.')

This "statement" isn't tricky at all.

What happens if you add the string '5' and the number 2?

In [14]:
'5' + 2

TypeError: can only concatenate str (not "int") to str

# Concatenation

Concatenate 'super' and 'cool' in a single string.

In [15]:
'super' + 'cool'

'supercool'

For a given number `x`, print the following statement: "The number x is [number].". Use all of these methods:

- `print()` function only (separating numbers and strings with commas).
- String concatenation (`+`). (Hint: convert the number `x` to a string).
- %-formatting.
- String method 'format'.
- f-string.

Which one you feel is the most comfortable and easy to use?

In [3]:
x = 3

In [28]:
print('The number x is', x, '.')

The number x is 3 .

In [4]:
print('The number x is ' + str(x) + '.')

The number x is 3.

In [5]:
print('The number x is %i.' % x)

The number x is 3.

In [24]:
print('The number x is {0}.'.format(x))

The number x is 3.

In [6]:
print(f'The number x is {x}.')

The number x is 3.

Which one you feel is the most comfortable and easy to use?

Given the numbers `x` and `y`, print the following statement: "The number x is [x] and the number y is [y].". Use all of these methods:

- `print()` function only (separating numbers and strings with commas).
- String concatenation (`+`). (Hint: convert the numbers to strings).
- %-formatting.
- String method 'format'.
- f-string.

In [25]:
x = 3
y = 5

In [27]:
print('The number x is', x, ' and the number y is', y, '.')

The number x is 3  and the number y is 5 .

In [30]:
print('The number x is ' + str(x) + ' and the number y is ' + str(y) + '.')

The number x is 3 and the number y is 5.

In [31]:
print('The number x is %i and the number y is %i.' % (x, y))

The number x is 3 and the number y is 5.

In [32]:
print('The number x is {0} and the number y is {1}.'.format(x, y))

The number x is 3 and the number y is 5.

In [33]:
print(f'The number x is {x} and the number y is {y}.')

The number x is 3 and the number y is 5.

Which one you feel is the most comfortable and easy to use?

What happens if we print the f-string f"Two plus three is equal to {2 + 3}."? Think and try it.

In [7]:
print(f"Two plus three is equal to {2 + 3}.")

Two plus three is equal to 5.

User enters his/her name and age and the system prints: "Hello [name]! You're [age] years old, so you were born in [year minus age] or [year minus age minus one].". Use the following methods:

- `print()` function only (separating numbers and strings with commas).
- String concatenation (`+`). (Hint: convert the numbers to strings).
- %-formatting.
- String method 'format'.
- f-string.

In [ ]:
name = input('Your name:')
age = int(input('Your age:'))
current_year = 2023

In [37]:
print('Hello', name, '! You\'re', age, 'years old, so you were born in', current_year - age, 'or', current_year - age - 1, '.')

Hello Isaac ! You're 31 years old, so you were born in 1992 or 1991 .

In [40]:
print('Hello ' + name + '! You\'re ' + str(age) + ' years old, so you were born in ' + str(current_year - age) + ' or ' + str(current_year - age - 1) + '.')

Hello Isaac! You're 31 years old, so you were born in 1992 or 1991.

In [41]:
print('Hello %s! You\'re %i years old, so you were born in %i or %i.' % (name, age, current_year - age, current_year - age - 1))

Hello Isaac! You're 31 years old, so you were born in 1992 or 1991.

In [43]:
print('Hello {0}! You\'re {1} years old, so you were born in {2} or {3}.'.format(name, age, current_year - age, current_year - age - 1))

Hello Isaac! You're 31 years old, so you were born in 1992 or 1991.

In [36]:
print(f'Hello {name}! You\'re {age} years old, so you were born in {current_year - age} or {current_year - age - 1}.')

Hello Isaac! You're 31 years old, so you were born in 1992 or 1991.

Which one you feel is the most comfortable and easy to use?

Given the numbers `x` and `y`, print the following statement: "Their division is [division of x/y]." with a maximum of 2 decimals. Use all of these methods:

- `print()` function only (separating numbers and strings with commas).
- String concatenation (`+`). (Hint: convert the numbers to strings).
- %-formatting.
- String method 'format'.
- f-string.

In [2]:
x = 4
y = 6

In [52]:
print('Their division is', round(x / y, 2), '.')

Their division is 0.67 .

In [53]:
print('Their division is ' + str(round(x / y, 2)) + '.')

Their division is 0.67.

In [56]:
print('Their division is %.2f.' % (x / y))

Their division is 0.67.

In [60]:
print('Their division is {0}.'.format(round(x / y, 2)))

Their division is 0.67.

In [61]:
print(f'Their division is {round(x / y, 2)}.')

Their division is 0.67.

In [3]:
print(f'Their division is {x / y:.2f}.')

Their division is 0.67.

Which one you feel is the most comfortable and easy to use?

# Indexing

For the given word...

In [8]:
word = 'Python'

Print the first character.

In [63]:
word[0]

'P'

Print the second character.

In [64]:
word[1]

'y'

Print the last character.

In [65]:
word[-1]

'n'

Print the second to last character.

In [ ]:
word[-2]

'n'

# Slicing

For the given word...

In [ ]:
word = 'Python'

Print the first 3 characters.

In [70]:
word[:3]

'Pyt'

Print the last 3 characters.

In [71]:
word[-3:]

'hon'

Print all the characters from the 2nd character onward.
- Example: 'Python' --> 'ython'.

In [72]:
word[1:]

'ython'

Print all the characters except the last one.
- Example: 'Python' --> 'Pytho'.

In [73]:
word[:-1]

'Pytho'

Print the substring between indices 2 and 4.
- Example: 'Python' --> 'tho'.

In [79]:
word[2:5]

'tho'

Print all the characters in odd positions.
- Example: 'Python' --> 'Pto'.

In [74]:
word[::2]

'Pto'

Print all the characters in even positions.
- Example: 'Python' --> 'yhn'.

In [76]:
word[1::2]

'yhn'

Print the word in reverse order.
- Example: 'Python' --> 'nohtyP'.

In [77]:
word[::-1]

'nohtyP'

# Functions

For the exercises in this section use Python's main string built-in functions: https://www.w3schools.com/python/python_ref_string.asp.

<b>Note</b>: All string methods return new values. They do not change the original string.

Check the number of characters.
- Example: 'Python' --> 6.

In [80]:
len(word)

6

Transform the word to uppercase.
- Example: 'Python' --> 'PYTHON'.

In [ ]:
word.upper()

'PYTHON'

Transform the word to lowercase.
- Example: 'Python' --> 'python'.

In [ ]:
word.lower()

'python'

Print the middle character of a string with an odd number of characters. Use indexing and the `len()` function.
- Example: 'Program' --> 'g'.

In [ ]:
string2 = 'Program'
string2[len(string2)//2]

'g'

Count the number of a's in a given string.
- Example: 'abracadabra' --> 5.

In [82]:
'abracadabra'.count('a')

5

If applying the previous code, what will be the result of the number of a's in 'Abracadabra'? Think and try it.

In [85]:
'Abracadabra'.count('a')

4

User enters a string and a character to count and the system prints: "The character "[char]" occurs [count] times in "[string]"".

- Example:User enters `abracadabra` and the character `a` and the system outputs: The character "a" occurs 5 times in "abracadabra".

In [89]:
string2 = input('Enter a string: ')
char = input('Enter a character to count: ')
count = string2.count(char)

print(f'The character "{char}" occurs {count} times in "{string2}".')

The character "a" occurs 5 times in "abracadabra".

Transform a given string to a title. That is, only the first character is uppercase, the rest are lowercase.
- Example: 'pyTHoN' --> 'Python'.

In [94]:
'pyTHoN'.title()

'Python'

Check if a given string is all in uppercase.

Examples:
- 'Python' --> False.
- 'PYTHON' --> True.

In [103]:
'PYTHON'.isupper()

True

User enters a string and a prefix and the system checks if the given string starts with that prefix.

Examples:

- User enters 'Python' and 'Py' --> True.
- User enters 'Python' and 'on' --> False.

In [95]:
string = input('Enter a string: ')
prefix = input('Enter a prefix to check: ')
string.startswith(prefix)

True

User enters a string and a suffix and the system checks if the given string ends with that suffix.

Examples:

- User enters 'Python' and 'Py' --> False.
- User enters 'Python' and 'on' --> True.

In [96]:
string = input('Enter a string: ')
suffix = input('Enter a suffix to check: ')
string.endswith(suffix)

True

User enters two strings and the system checks if the second string is contained in the first.

Examples:

- User enters 'Python' and 'yth' --> True.
- User enters 'Python' and 'ho' --> True.
- User enters 'Python' and 'pym' --> False.

In [100]:
string1 = input('Enter a string: ')
string2 = input('Enter another string: ')
string2 in string1

True

User enters two strings and the system checks if the second string is *NOT* contained in the first.

Examples:

- User enters 'Python' and 'yth' --> False.
- User enters 'Python' and 'ho' --> False.
- User enters 'Python' and 'pym' --> True.

In [ ]:
string1 = input('Enter a string: ')
string2 = input('Enter another string: ')
string2 not in string1

True

Check if all the characters in a given string are numeric.

Examples:
- '123Py' --> False.
- '2314' --> True.

In [107]:
'123Py'.isnumeric()

False

In [104]:
'2314'.isnumeric()

True

Print a given string with all the leading and trailing whitespaces removed.

- Example: '&nbsp;&nbsp;&nbsp;Ptyhon&nbsp;&nbsp;' --> 'Python'.

In [98]:
'  Python '.strip()

'Python'

Replace all the 'a' characters in a given string with 'PY'.
- Example: 'abracadabra' --> 'PYbrPYcPYdPYbrPY'.

In [109]:
'abracadabra'.replace('a', 'PY')

'PYbrPYcPYdPYbrPY'

Print a given string with absolutely all whitespaces removed.
- Example: 'this is an example' --> 'thisisanexample'.

In [115]:
'this is an example'.replace(' ', '')

'thisisanexample'

User enters a string and a character and the system prints the string without the given character.

Examples:

- User enters 'Python' and 'y' --> 'Pthon'.
- User enters 'abracadabra' and 'a' --> brcdbr.

In [111]:
string = input('Enter a string:')
char = input('Enter a character:')
string.replace(char, '')

'Pthon'

# Bonus

Check if a string is a palindrome (i.e. reads the same forwards and backwards).

Examples:
- 'ABBA' --> True.
- 'a' --> True.
- 'Python' --> False.
- 'non' --> True.
- 'none' --> False.

In [5]:
string = input('Enter a string: ')
is_palindrome = string == string[::-1]
print(f'The string "{string}" is a palindrome: {is_palindrome}.')

The string "abba" is a palindrome: True

User enters two strings and the system checks if they are anagrams or not. An anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

Examples:
- User enters 'New York Times' and 'monkeys write' --> True.
- User enters 'Coronavirus' and 'carnivorous' --> True.
- User enters 'Python' and 'Pytho' --> False.

In [9]:
string1 = input('Enter the first string: ')
string2 = input('Enter the second string: ')

string1_processed = string1.lower().strip()
string2_processed = string2.lower().strip()
are_anagrams = sorted(string1_processed) == sorted(string2_processed)

print(f'"{string1}" and "{string2}" are anagrams: {are_anagrams}.')

"Coronavirus" and "carnivorous" are anagrams: True.