# Tuple exercises

## Even indices

Given a tuple, create a new tuple containing only the elements with even indices.

In [1]:
my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [2]:
new_tuple = my_tuple[::2]
print(new_tuple)

('a', 'c', 'e', 'g')

## Counting

Given a tuple, count how many times an element appears in the tuple.

In [5]:
my_tuple = (1, 2, 3, 2, 1, 4, 4, 5, 1, 2, 3)

In [6]:
element_to_count = 1
count = my_tuple.count(element_to_count)

print(count)

3

## Reverse

Given a tuple, create a new tuple with the elements reversed.

In [8]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]

print(reversed_tuple)

(5, 4, 3, 2, 1)

## Concatenate

Given two tuples, create a new tuple by concatenating the elements from the input tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

In [ ]:
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

## Min and Max

Given a tuple of numbers, find the minimum and maximum values without using the built-in `min()` and `max()` functions.

In [ ]:
my_tuple = (3, 7, 2, 8, 4, 1, 9, 6)

In [7]:
min_value = my_tuple[0]
max_value = my_tuple[0]

for num in my_tuple:
    if num < min_value:
        min_value = num
    elif num > max_value:
        max_value = num

print("Minimum value:", min_value)
print("Maximum value:", max_value)

Minimum value: 1
Maximum value: 5

## Flatten

Given a tuple containing tuples, create a new flat tuple with the elements of the nested tuples.

In [ ]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

In [ ]:
flat_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print(flat_tuple)

(1, 2, 3, 4, 5, 6)

## Rotation

Given a tuple of elements, rotate its elements to the left by the specified number of positions. For example:

Input:
- (1, 2, 3, 4, 5)
- positions = 2

Output:
- (3, 4, 5, 1, 2)

In [21]:
my_tuple = (1, 2, 3, 4, 5)
positions = 2

rotated_tuple = my_tuple[positions:] + my_tuple[:positions]
print(rotated_tuple)

(3, 4, 5, 1, 2)

# Bonus

## Area

Given a tuple of 2D coordinates representing the vertices of a triangle, calculate the area of the triangle.

In [18]:
vertices = ((1, 1), (4, 1), (4, 5))

In [19]:
v1, v2, v3 = vertices
area = abs((v1[0] * (v2[1] - v3[1]) + v2[0] * (v3[1] - v1[1]) + v3[0] * (v1[1] - v2[1])) / 2)
print(area)

6.0

## Two Sum

Write a Python program that takes a list of integers and a target integer. It should return all unique pairs of elements in the list that sum up to the target. These pairs should be a tuple.

Example: [1, 2, 3, 4, 5], 6  --> [(1, 5), (2, 4)]

In [ ]:
lst = [1, 2, 3, 4, 5]
target = 6

seen = set()
output = set()

for num in lst:
    diff = target - num
    if diff not in seen:
        seen.add(num)
    else:
        output.add((min(num, diff), max(num, diff)))

print(output)

{(2, 4), (1, 5)}

## Maximum Value

Use tuple unpacking to find the maximum value in a list of tuples.

Example: [(1, 2), (3, 4), (9, 1), (5, 8)] --> 9

In [ ]:
t_list = [(1, 2), (3, 4), (9, 1), (5, 8)]

max(max(a, b) for a, b in t_list)

9